// app global css in SCSS form
.navIcon {
  height: 36px;
  width: 36px;
  cursor: pointer;
  transition: all 0.7s ease-in;
  &:hover {
    transition: scaleX(120%) scaleY(120%);
    transform-origin: center bottom;
  }
}
