// app global css in SCSS form
.navIcon {
  height: 36px;
  width: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  will-change: transform;
  &:hover {
    transform: scale(1.2, 1.2);
    transform-origin: center bottom;
  }
}
