// app global css in SCSS form
.navIcon {
  height: 36px;
  width: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  will-change: transform;
  &:hover {
    transform: scale(1.2, 1.2);
    transform-origin: center bottom;
  }
}

.transparent-dark::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.3);
}
.darker {
  background: rgba(0, 0, 0, 0.5);
}
.darkest {
  background: rgba(0, 0, 0, 0.7);
}
.blur {
  backdrop-filter: blur(30px);
}
.blurred {
  backdrop-filter: blur(50px);
}
